<p class="text-right"><%=link_to "목록", professor_pro_index_path %></p>
<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="thumbnail">
      <img style="width:40%; height:50%; padding-top:10px" src="<%=@detail.img_url%>" class="circle">
      <div class="caption2">
        <h3><%=@detail.name%><small>교수님</small></h3>
        <p><%=@detail.email%></p>
        <p><%=@detail.number%></p>
        <p>연구분야:<br><small><%=@detail.study_part%></small></p></br>
        <p><%=link_to "홈페이지 바로가기", @detail.url%></p>
      </div>
    </div>
  </div>
</div>
