<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    학과년도
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%=link_to "2009년", home_2009_path%></li>
    <li><%=link_to "2010년", home_2010_path%></li>
    <li><%=link_to "2011~2년", home_2012_path%></li>
    <li><%=link_to "2013년", home_2013_path%></li>
    <li><%=link_to "2014년", home_2014_path%></li>
    <li><%=link_to "2015년", home_2015_path%></li>
    <li><%=link_to "2016년", home_score_info_path%></li>
  </ul>
</div>
<p>2009년도 학점 정보</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          대학 교양 [ 18학점 ]
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class = "table-responsive">
          <table class="table table-bordered">
<tbody>
<tr><th style="text-align: center;vertical-align:middle;" rowspan="2">교과목명</th><th style="text-align: center;vertical-align:middle;" colspan="2">1학년</th><th style="text-align: center;vertical-align:middle;" rowspan="2">이수학점 및 시수<br /><br />학점-강의시간-실습시간</th><th style="text-align: center;vertical-align:middle;" rowspan="2">비고</th></tr>
<tr>
<td style="text-align: center;vertical-align:middle;">1학기</td>
<td style="text-align: center;vertical-align:middle;">2학기</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">일반 화학</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">O&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">3-3-0</td>
<td style="text-align: center;vertical-align:middle;" rowspan="5">선택 1과목</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">기초 생물학</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">O&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">3-3-0</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">일반 지구과학</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">O</td>
<td style="text-align: center;vertical-align:middle;">3-3-0</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">일반 물리학</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">O&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">3-3-0</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">미적분학</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">O&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">3-2-2</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">확률 및 통계</td>
<td style="text-align: center;vertical-align:middle;">O</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">3-2-2</td>
<td style="text-align: center;vertical-align:middle;" rowspan="4">필수</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">프로그래밍 언어 및 실습</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">O</td>
<td style="text-align: center;vertical-align:middle;">3-2-2</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">컴퓨터개론 및 실습</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">O</td>
<td style="text-align: center;vertical-align:middle;">3-2-2</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">웹과 인터넷 활용 및 실습</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;O</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;</td>
<td style="text-align: center;vertical-align:middle;">3-2-2</td>
</tr>
</tbody>
</table>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          일반 교양 [ 18학점 ]
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class = "table-responsive">
          <table class="table table-bordered">
<tbody>
<tr><th style="text-align: center;vertical-align:middle;" colspan="2">이수영역</th><th style="text-align: center;vertical-align:middle;">이수 교과목</th><th style="text-align: center;vertical-align:middle;">최저 이수 학점</th></tr>
<tr>
<td colspan="2">공통교양필수
<p>&nbsp;</p>
</td>
<td style="text-align: center;vertical-align:middle;">
-자연과학글쓰기(2학점)<br>
-영어회화초급, 영작문초급, 영문의 이해, 토익영어 중 선택 2과목(4학점)
</td>
<td style="text-align: center;vertical-align:middle;">6학점</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="6">
일반선택<br>
교양영역<br>
</td>
<td style="text-align: center;vertical-align:middle;">
1영역
</td>
<td style="text-align: center;vertical-align:middle;">-인간과 윤리, 성과 철학, 삶과 철학, 논리와 사고 중 선택 1과목</td>
<td style="text-align: center;vertical-align:middle;" rowspan="6">12학점
</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">
2영역
</td>
<td style="text-align: center;vertical-align:middle;">- 세계문화의 이해, 전쟁과 평화, 생활법률, 시장과 경제, 기업과 경영 중 선택 1과목</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">3영역</td>
<td style="text-align: center;vertical-align:middle;">- 디자인과 생활, 영상의 이해, 문화과 영화, 한자와 생활언어 중 선택 1과목</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">4영역</td>
<td style="text-align: center;vertical-align:middle;">- 인간과 건강, 정신겅강, 생화 스포츠, 식생화과 건강 중 선택 1과목</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">5영역</td>
<td style="text-align: center;vertical-align:middle;">- 영작문중급, 영어회화중급, 교양한문, 생활 일어 중 선택 1과목</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">6영역</td>
<td style="text-align: center;vertical-align:middle;">
- 수학과 사고 , 환경학개론, 우주와 지구, 생명공학의 세계, 컴퓨터개론 및 실습,<br>
웹과 인터넷활용 및 실습 중 선택 1과목(컴퓨터학부 컴퓨터과학정공)
</td>
</tr>
</tbody>
</table>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          자유교양 2
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        사회 봉사<br>
        진로 탐색<br>
        인턴 실습<br>
		    해외어학연수<br>
		    중 택1<br>
      </div>
    </div>
  </div>
  -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          전공 필수 [ 18학점 ]
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        프로그래밍 언어론<br>
        인공지능<br?
        컴퓨터 구조<br>
        데이터 통신<br>
        운영 체제<br>
        데이터 베이스<br>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          전공 선택 [ 30학점 ]
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
      </div>
        <div class = "table-responsive">
          <table class="table table-bordered">
<thead>
<tr><th style="text-align: center;vertical-align:middle;">학년<br />학기</th><th style="text-align: center;vertical-align:middle;">교과목명</th></tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="5">2-1</td>
<td style="text-align: center;vertical-align:middle;">이산수학</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">논리회로</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">수리통계학</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">선형대수학</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">웹프로그래밍 및 실습</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="7">2-2</td>
<td style="text-align: center;vertical-align:middle;">자료구조</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">수치해석</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">디지털회로설계</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">소프트웨어공학</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">정보검색 및 실습</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">객체지향프로그래밍</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">리눅스/유닉스프로그래밍</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="6">3-1</td>
<td style="text-align: center;vertical-align:middle;">컴퓨터알고리증</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">시스템프로그래밍</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">수치해석응용</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">컴퓨터그래픽스</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">컴퓨터특강</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">자료처리</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="6">3-2</td>
<td style="text-align: center;vertical-align:middle;">시스템 분석과 설계</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">컴퓨터시스템설계</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">네트워크프로그래밍</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">화상처리</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">시뮬레이션</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">형식언어와 오토마타</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="7">4-1</td>
<td style="text-align: center;vertical-align:middle;">컴파일러구성론</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">데이터베이스프로그래밍</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">컴퓨터네트워크</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">마이크로컴퓨터</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">시각공학</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">프로젝트 실무</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">파일처리</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="5">4-2</td>
<td style="text-align: center;vertical-align:middle;">전문가시스템</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">병렬컴퓨터구조</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">네트워크 보안</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">멀티미디어</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">마이크로프로그래밍</td>
</tr>
</tbody>
</table>
        </div>
      </div>
    </div>
  </div>
</div>
