<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    학과년도
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%=link_to "2009년", home_2009_path%></li>
    <li><%=link_to "2010년", home_2010_path%></li>
    <li><%=link_to "2011~2년", home_2012_path%></li>
    <li><%=link_to "2013년", home_2013_path%></li>
    <li><%=link_to "2014년", home_2014_path%></li>
    <li><%=link_to "2015년", home_2015_path%></li>
    <li><%=link_to "2016년", home_score_info_path%></li>
  </ul>
</div>
<p>2011년~2012년도 학점 정보</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          [ 전체 이수학점표 ]
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class = "table-responsive">
          <table class="table table-bordered">
<thead>
<tr><th style="text-align: center;vertical-align:middle;" colspan="2" rowspan="3" scope="col" style="text-align: center;vertical-align:middle;">학과(부)명</th><th style="text-align: center;vertical-align:middle;" colspan="4" scope="colgroup" style="text-align: center;vertical-align:middle;">교양영역</th><th style="text-align: center;vertical-align:middle;" colspan="5" scope="colgroup" style="text-align: center;vertical-align:middle;">전공영역</th><th style="text-align: center;vertical-align:middle;" rowspan="3" scope="col" style="text-align: center;vertical-align:middle;">자유<br />선택</th><th style="text-align: center;vertical-align:middle;" rowspan="3" scope="col" style="text-align: center;vertical-align:middle;">합계<br />(졸업<br />학점)</th></tr>
<tr><th style="text-align: center;vertical-align:middle;" rowspan="2" scope="col" style="text-align: center;vertical-align:middle;">기초</th><th style="text-align: center;vertical-align:middle;" rowspan="2" scope="col" style="text-align: center;vertical-align:middle;">일반</th><th style="text-align: center;vertical-align:middle;" rowspan="2" scope="col" style="text-align: center;vertical-align:middle;">자유</th><th style="text-align: center;vertical-align:middle;" rowspan="2" scope="col" style="text-align: center;vertical-align:middle;">소계</th><th style="text-align: center;vertical-align:middle;" colspan="2" scope="colgroup" style="text-align: center;vertical-align:middle;">최소전공</th><th style="text-align: center;vertical-align:middle;" rowspan="2" scope="col" style="text-align: center;vertical-align:middle;">소계</th><th style="text-align: center;vertical-align:middle;" rowspan="2" scope="col" style="text-align: center;vertical-align:middle;">심화<br />학점</th><th style="text-align: center;vertical-align:middle;" rowspan="2" scope="col" style="text-align: center;vertical-align:middle;">계</th></tr>
<tr><th scope="col" style="text-align: center;vertical-align:middle;">필수</th><th scope="col" style="text-align: center;vertical-align:middle;">선택</th></tr>
</thead>
<tbody class="p_c">
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="2">컴퓨터<br />과학전공</td>
<td style="text-align: center;vertical-align:middle;">복수<br />전공</td>
<td style="text-align: center;vertical-align:middle;" rowspan="2">27</td>
<td style="text-align: center;vertical-align:middle;" rowspan="2">9</td>
<td style="text-align: center;vertical-align:middle;" rowspan="2">2</td>
<td style="text-align: center;vertical-align:middle;" rowspan="2">38</td>
<td style="text-align: center;vertical-align:middle;" rowspan="2">12</td>
<td style="text-align: center;vertical-align:middle;" rowspan="2">30</td>
<td style="text-align: center;vertical-align:middle;" rowspan="2">42</td>
<td style="text-align: center;vertical-align:middle;">0</td>
<td style="text-align: center;vertical-align:middle;">42</td>
<td style="text-align: center;vertical-align:middle;">50</td>
<td style="text-align: center;vertical-align:middle;" rowspan="2">130</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">단일<br />전공</td>
<td style="text-align: center;vertical-align:middle;">27</td>
<td style="text-align: center;vertical-align:middle;">69</td>
<td style="text-align: center;vertical-align:middle;">23</td>
</tr>
</tbody>
</table>

</div>
        <P style = "font-size:14px">심화학점 27학점은 전공선택 과목을 의미합니다.<br> (단일전공만 해당)<br>
꿈-설계 상담은 0.5학점으로 최대 6번(3학점)까지<br> 수강이 가능합니다.<br>

※현재까지 이수한 학점은 <br>KNU포탈 - 학부학사 - 학적관리 - 학생정보조회및변경 - 성적 탭 - 출력 버튼(오른쪽 상단) 에서 <br>확인할 수 있습니다.
<br>※위 내용은 축약하여 나타난 내용으로 자세한 사항이나 <br>문의 사항은 전공 학과 사무실(033-250-8440)으로 <br>문의해주세요.</P>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          교양영역 [ 38학점 ]
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <span style="font-size:20px;color:brown ">< 기초교양 ></span><br>
        <div class = "table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr><th style="text-align: center;vertical-align:middle;" rowspan="1">분야</th><th style="text-align: center;vertical-align:middle;" rowspan="1">교과목명</th></tr>
              <tr>
              <td style="text-align: center;vertical-align:middle;">의사소통</td>
              <td style="text-align: center;vertical-align:middle;">자연과학 글쓰기와 말하기</td>
              </tr>
              <tr>
              <td style="text-align: center;vertical-align:middle;" rowspan="2">외국어</td>
              <td style="text-align: center;vertical-align:middle;">자연공학계열 영어</td>
              </tr>
              <tr>
              <td style="text-align: center;vertical-align:middle;">영문법과 작문</td>
              </tr>
              <tr>
              <td style="text-align: center;vertical-align:middle;" rowspan="6">수리 및 기초과학</td>
              <td style="text-align: center;vertical-align:middle;">미적분학</td>
              </tr>
              <tr>
              <td style="text-align: center;vertical-align:middle;">컴퓨터개론 및 실습</td>
              </tr>
              <tr>
              <td style="text-align: center;vertical-align:middle;">컴퓨터프로그래밍 기초</td>
              </tr>
              <tr>
              <td style="text-align: center;vertical-align:middle;">확률 및 통계</td>
              </tr>
              <tr>
              <td style="text-align: center;vertical-align:middle;">웹과 인터넷 활용 및 실습</td>
              </tr>
              <tr>
              <td style="text-align: center;vertical-align:middle;">컴퓨터프로그래밍 응용</td>
              </tr>
            </tbody>
          </table>
        </div>
        <span style="font-size:20px;color:brown ">< 일반 교양 ></span><br>
        <div class = "table-responsive">
          <table class="table table-bordered">
<tbody>
<tr><th style="text-align: center;vertical-align:middle;">분야</th><th style="text-align: center;vertical-align:middle;">교과목명</th><th style="text-align: center;vertical-align:middle;">학점</th></tr>
<tr>
<td style="text-align: center;vertical-align:middle;">인문학</td>
<td style="text-align: center;vertical-align:middle;">별도 지정 없음</td>
<td style="text-align: center;vertical-align:middle;" rowspan="3">6</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">문학예술과 건강</td>
<td style="text-align: center;vertical-align:middle;">별도 지정 없음</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="3">사회학과</td>
<td style="text-align: center;vertical-align:middle;">별도 지정 없음</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">기업과 경영</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">경제학개론</td>
<td style="text-align: center;vertical-align:middle;">&nbsp;</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">자연과학과<br />과학기술</td>
<td style="text-align: center;vertical-align:middle;">별도 지정 없음</td>
<td style="text-align: center;vertical-align:middle;">3</td>
</tr>
</tbody>
</table>
        </div>
        <span style="font-size:20px;color:brown ">< 자유 교양 ></span><br>
        <div class = "table-responsive">
          <table class="table table-bordered">
            <tbody>
            <tr>
            <th style="text-align: center;vertical-align:middle;">과목명</th>
            <th style="text-align: center;vertical-align:middle;">학점</th>
            </tr>
            <tr>
            <td style="text-align: center;vertical-align:middle;">사회봉사,인턴실습,진로탐색,해외어학연수</td>
            <td style="text-align: center;vertical-align:middle;">2</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          전공필수 [ 12학점 ]
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class = "table-responsive">
          <table class="table table-bordered">
            <tbody>
            <tr><th style="text-align: center;vertical-align:middle;">학년</th><th style="text-align: center;vertical-align:middle;">과목명</th></tr>
            <tr>
            <td style="text-align: center;vertical-align:middle;">2-1</td>
            <td style="text-align: center;vertical-align:middle;">프로그래밍 언어론</td>
            </tr>
            <tr>
            <td style="text-align: center;vertical-align:middle;">2-2</td>
            <td style="text-align: center;vertical-align:middle;">운영체제</td>
            </tr>
            <tr>
            <td style="text-align: center;vertical-align:middle;">3-1</td>
            <td style="text-align: center;vertical-align:middle;">컴퓨터구조</td>
            </tr>
            <tr>
            <td style="text-align: center;vertical-align:middle;">3-2</td>
            <td style="text-align: center;vertical-align:middle;">데이터베이스</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          전공선택 [ 30학점 ]
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        꿈-설계 과목은 최대 6번(3학점)까지 전공 선택으로 수강 가능<br>
      </div>
        <div class = "table-responsive">
          <table class="table table-bordered">
<thead>
<tr><th style="text-align: center;vertical-align:middle;">학년<br />학기</th><th style="text-align: center;vertical-align:middle;">교과목명</th></tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="4">2-1</td>
<td style="text-align: center;vertical-align:middle;">이산수학</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">논리회로</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">선형대수학</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">웹프로그래밍 및 실습</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="7">2-2</td>
<td style="text-align: center;vertical-align:middle;">자료구조</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">수치해석</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">디지털회로설계</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">인공지능</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">소프트웨어공학</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">정보검색 및 실습</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">객체지향프로그래밍</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="7">3-1</td>
<td style="text-align: center;vertical-align:middle;">컴퓨터알고리증</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">자료처리</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">수치해석응용</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">데이터통신</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">시스템프로그래밍</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">컴퓨터그래픽스</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">정보ㆍ컴퓨터교재연구 및 지도법</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="6">3-2</td>
<td style="text-align: center;vertical-align:middle;">컴퓨터시스템설계</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">형식언어와 오토마타</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">네트워크프로그래밍</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">정보시스템 보안</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">리눅스/유닉스프로그래밍</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">정보ㆍ컴퓨터교육론</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="9">4-1</td>
<td style="text-align: center;vertical-align:middle;">컴퓨터네트워크</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">컴파일러구성론</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">마이크로컴퓨터</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">데이터베이스프로그래밍</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">모바일 네트워크 및 프로그래밍</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">파일처리</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">소프트웨어 설계 및 프로젝트</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">현장실습 1</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">정보ㆍ컴퓨터논리 및 논술</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;" rowspan="4">4-2</td>
<td style="text-align: center;vertical-align:middle;">멀티미디어</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">네트워크 보안</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">임베디드시스템</td>
</tr>
<tr>
<td style="text-align: center;vertical-align:middle;">현장실습 2</td>
</tr>
</tbody>
</table>
        </div>
      </div>
    </div>
</div>
